# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
Include/
Scripts/
pyvenv.cfg
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# pycharme
.idea

#specific files
code_pac/aprendendo_a_fazer_tabbed_pane.py
code_pac/aprendendo_a_usar_measures.py
code_pac/aprendendo_a_usar_os_eventos.py
code_pac/aprendendo_a_usar_panel_plot.py
code_pac/aprendendo_a_usar_tree_control.py
code_pac/aprendendo_importar_um_jogo.py
code_pac/colocando_measures_na_tela.py
code_pac/fazendo_um_teste_com_botoes.py
code_pac/setando_grid_na_tela.py
code_pac/usando_brasileiro_plots.py
code_pac/usando_tree_control_com_jogos.py

data/jogo_dados/amostra
data/jogo_dados/dice_game_estatisticas_01
data/jogo_dados/dice_game_estatisticas_02
data/jogo_dados/dice_game_estatisticas_03
data/jogo_dados/dice_game_estatisticas_04
data/jogo_dados/dice_game_estatisticas_05
data/jogo_dados/progresso_jogo_por_pontos
data/jogo_dados/progresso_jogo_por_posicao
